.App {
	height: 100vh;
	padding-top: 10px;
	background-color: #1b1b32;
	font-family: Lato, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.ppalCont-calculator {
	width: 400px;
	height: 600px;
	padding: 14px;
	background-color: #99c9ff;
	border-radius: 20px;
	border: 5px solid antiquewhite;
	box-shadow: 0 3px 13px 1px rgb(0 0 0 / 100%);
}

.fila {
	margin: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}
